.navbar{
      width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.navbar .logo{
    height: 130px;
    width: 200px;
}

.navbar-menu{
    display: flex;
    list-style: none;
    gap: 35px;
    color: #49557e;
    font-size: 18px;
}

.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar button{
    background: transparent;
    font-size: 16px;
    color:#1F2937;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar button:hover{
    background-color: #fff4f2;
}

.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid  tomato;
}

.navbar li{
    cursor: pointer;
}

.hide-menu{
    display: none;
}

.navbar-search{
    display: flex;
    align-items: center;
    position: relative;
    transition: all 0.3s ease;
    
}

.navbar-search.active{
    flex: 1;
    margin-right: 20px;
}
.search-input{
    width: 0;   
    max-width: 50vw;
    padding: 8px 12px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 15px;
    transition: all 0.3s ease;
    background: white;
    color: #333;
     padding-right: 40px;
     margin-bottom: 15px;
}

.search-input:focus{
    border: 1px solid tomato;
    box-shadow: 0 0 0 2px rgba(255,99,71,0.15);
}

.navbar-search.active .search-input{
    width: 350px;
    max-width: 45vw;
    display: flex;
}




.navbar-search-icon{
    position: relative;

}



.cart-icon {
  position: relative;
  margin-right: 20px;
}

.cart-count {
  position: absolute;
  top: -19px;
  right: -16px;
  background-color: tomato ;
  color: white;
  font-size: 12px;
  min-width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}


.navbar-profile {
    position: relative;
    background: tomato;
    color:#1F2937;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight:600;
    cursor: pointer;
    border-radius: 50%;
}


.navbar-profile::after {
    content: "";
    position: absolute;
    top: 110%;
    right: 0;
    width: 120%;
    height: 12px;
}

.nav-profile-dropdown {
     /* position: absolute;
    top: 120%;   
    right: 0;
    display: none; */

    position: absolute;
    top: 120%;
    right: 10;
    display: none;
    flex-direction: column;
    gap: 5px;
    background-color: #fff2ef;
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid tomato;
    list-style: none;
    min-width: 100px;   /* FIXED */
    z-index: 800;
    font-size: 13px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);

}

.nav-profile-dropdown img{
    width: 20px;
    height: 20px;
}


.navbar-profile:hover .nav-profile-dropdown{
    display: flex;
    

}

.nav-profile-dropdown li {
    padding: 6px 0;
    cursor: pointer;
}


.nav-profile-dropdown li:hover {
    color: tomato;
}


@media(max-width:1050px) {
    .navbar .logo{
        width: 140px;
    }
    .navbar-menu{
        gap: 20px;
        font-size: 17px;
    }
    .navbar-right{
        gap: 30px;
    }
    .navbar-right img{
        width: 22px;
    }
    .navbar-right button{
        padding: 8px 25px;
    }
}

@media (max-width:900px) {
    .navbar .logo{
        width: 120px;
    }
    .navbar-menu{
        gap: 15px;
        font-size: 16px;
    }
    .navbar-right{
        gap: 20px;
    }
    .navbar-right img{
        width: 20px;
    }
    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px;
    }
}


@media (max-width:750px) {
    .navbar-menu{
        display: none;
    }
}


